---
import Layout from '../layouts/Layout.astro';
import Header from '../components/shared/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import SocialProof from '../components/sections/SocialProof.astro';
import Portfolio from '../components/sections/Portfolio.astro';
---

<Layout>
    <Header />
    <main>
        <Hero />
        <SocialProof /> 
        <Services />
        <Portfolio />
        <div class="h-screen"></div> 
    </main>
</Layout>